@media (min-width: 48em) {
  .image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color:rgb(210, 207, 207);
  font-size: larger;
  border: 5px;
  border-color: black;
}

.navbar {
  display: flex;
  font-family: sans-serif;
  background-color: rgb(241, 72, 72);
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:50px;
  width:100%;
}

.title {
  flex: 1;
  color: white;
  font-size: 30px;
  text-align: left;
  padding-top: 5px;
  padding-left: 20px;
}

.links {
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
}

#link {
  text-decoration: none;
  color: black;
}

#header {
  background-color: rgb(110, 110, 112);
  font-size: x-large;
  font-family: Georgrgb(58, 56, 174), Times, serif;
  color: white;
  padding-top: 10px;
}

#image {
  width: 50%;
}

#container {
  text-align: center;
}